@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Smooch+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
}

body {

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.row {
    display: flex;
}

.column {
    display: grid;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    align-items: center;
    gap: 2em;
    padding: 1.5em 0;
    justify-content: space-between;
}

nav ul {
    align-items: center;
    gap: 2em;
}

.logo {
    fill: brown;
}

nav a {
    font-size: 20px;
}

nav li:nth-of-type(4) {
    color: brown;
}

.hero h6 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}

.hero p {
    font-size: 20px;
    color: black;
    padding: 1.5em 0;
}